{% extends 'common/main.html' %}

{% block head %}
{{super()}}
<title>Retail - Upload</title>

{% endblock %}

{% block content %}
<div class="container p-3 d-flex justify-content-center">
        <div class="w-50 border p-2" style="border-radius: 4px;">
            <div class="row">
                <h5 class="text-muted">Upload</h5>
            </div>
            <form action="/upload" method="POST" enctype = "multipart/form-data">
            <div class="row">
                <div class="mb-3">
                    <label for="formFileSm" class="form-label">Select CSV to upload</label>
                    <input class="form-control form-control-sm" name="file" type="file" accept=".csv">
                  </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="checked" name="header">
                <label class="form-check-label" for="flexCheckDefault">
                  Contains header row
                </label>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-sm btn-primary mb-3" style="float: right;">Upload</button>
              </div>
            </form>
        </div>

</div>


{% endblock %}